@font-face {
    font-family: 'Brush Script Std';
    src: url('BrushScriptStd.woff2') format('woff2'),
        url('BrushScriptStd.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Devanagari';
    src: url('AdobeDevanagari-Bold.woff2') format('woff2'),
        url('AdobeDevanagari-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

